In [1]:
import pandas as pd

C:\Users\drenergydrink\AppData\Local\Temp\ipykernel_7416\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
movies=pd.read_csv("tmdb_5000_movies.csv")

In [3]:
credits=pd.read_csv("tmdb_5000_credits.csv")

In [4]:
new_movies=movies.merge(credits,on="title")

In [5]:
new_movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
#genre
#id
#keyword
#overview
#title
#cast
#crew these are the only columns we need

In [7]:
new_movies=new_movies[['id','title','genres','keywords','overview','cast','crew']]
new_movies.head(1)

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
new_movies.dropna(inplace=True)

In [21]:
import json

In [10]:
def formatgenre(text):
    genres=[]
    for i in json.loads(text):
        genres.append(i["name"])
    return genres

In [11]:
new_movies['genres']=new_movies['genres'].apply(formatgenre)

In [12]:
def formatkeywords(text):
    keywords=[]
    for i in json.loads(text):
        keywords.append(i["name"])
    return keywords

In [13]:
new_movies['keywords']=new_movies['keywords'].apply(formatkeywords)

In [14]:
def castformatter(text):
    cast=[]
    z=0
    for i in json.loads(text):
        if z==3:
            break
        z=z+1
        cast.append(i["name"])
    return cast

In [15]:
new_movies['cast']=new_movies['cast'].apply(castformatter)

In [28]:
def crewformatter(text):
    for i in json.loads(text):
        if i["job"]=="Director":
            return i["name"]

In [26]:
new_movies['crew']=new_movies['crew'].apply(crewformatter)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [27]:
new_movies.head()

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton